*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    background-color: #131921;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.logo{
    background-image: url("assests/amazon.svg");
}
.nav-logo{
    height: 50px;
    width: 80px;
}
.nav-address{

}
.nav-search{
    display: flex;
    background-color: yellow;
    width: 620px;
    height: 40px;
    border-radius: 3px;
 }
.panel{
    height: 40px;
    background-color: darkblue;
    color: white;
    display: flex;
}
.panel-item p{
    display: inline;
}